<div class="forum">
  <img src="../assets/bottlebrush.jpg" />
    <!--<h4>News Ticker</h4>
    <div class="forum">
      <ul>
        <li *ngFor="let item of news.articles">
          <div class="article" style="max-width:280px">
            <div *ngIf="item.urlToImage.indexOf('https') !== -1" class="card">
              <img style="" src="{{item.urlToImage}}">
              <p *ngIf="item.title != ''" style="font-size:12px" class="top, caption">{{item.title}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>-->  
</div>
