* {
  background-color: #333;
  /*color: #bbb;
  padding:10px;
  text-align:left;*/
}

.forumPic {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  /* On small screens, convert the nav menu to a vertical sidebar */
  .forum {
    position: fixed;
    top: 0;    
    right: 0;
    z-index: 1;
    height: 100%;    
    width: 25%;    
  }  
}

@media (max-width: 767px) {
  /* On small screens, convert the nav menu to a vertical sidebar */
  .forum {
    position: relative;
    text-align: center;    
  }
  
}
