<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>Aussie Update</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
          <ul class='nav navbar-nav'>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home'></span> Home
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/1"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-pencil'></span><span *ngIf="language != 'de'">January</span><span *ngIf="language == 'de'">Januar</span>
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/2"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-pencil'></span><span *ngIf="language != 'de'">February</span><span *ngIf="language == 'de'">Februar</span>
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/3"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-pencil'></span><span *ngIf="language != 'de'">March</span><span *ngIf="language == 'de'">März</span>
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/4"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-pencil'></span><span *ngIf="language != 'de'">April</span><span *ngIf="language == 'de'">April</span>
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/5"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-pencil'></span><span *ngIf="language != 'de'">May</span><span *ngIf="language == 'de'">Mai</span>
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/6"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-pencil'></span><span *ngIf="language != 'de'">June</span><span *ngIf="language == 'de'">Juni</span>
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/7"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-pencil'></span><span *ngIf="language != 'de'">July</span><span *ngIf="language == 'de'">Juli</span>
              </a>
            </li>
  <!--
  <li [routerLinkActive]='["link-active"]'>
    <a [routerLink]='["/8"]' (click)='collapse()'>
      <span class='glyphicon glyphicon-pencil'></span> August
    </a>
  </li>
  <li [routerLinkActive]='["link-active"]'>
    <a [routerLink]='["/9"]' (click)='collapse()'>
      <span class='glyphicon glyphicon-pencil'></span> September
    </a>
  </li>
  <li [routerLinkActive]='["link-active"]'>
    <a [routerLink]='["/10"]' (click)='collapse()'>
      <span class='glyphicon glyphicon-pencil'></span> October
    </a>
  </li>
  <li [routerLinkActive]='["link-active"]'>
    <a [routerLink]='["/11"]' (click)='collapse()'>
      <span class='glyphicon glyphicon-pencil'></span> Novovember
    </a>
  </li>
  <li [routerLinkActive]='["link-active"]'>
    <a [routerLink]='["/12"]' (click)='collapse()'>
      <span class='glyphicon glyphicon-pencil'></span> December
    </a>
  </li>-->
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/Contact"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-envelope'></span><span *ngIf="lang != 'de'">Contact</span><span *ngIf="lang == 'de'">Kontakt</span>
              </a>
            </li>
          </ul>
        </div>
    </div>
</div>


