  <div class="nav2" style="position: absolute; left: 50%;">
    <div style="position: relative; left: -50%;">
      <ul class="btns">
        <li id="back" (click)="open($event, 'back')"><span class='glyphicon glyphicon-backward navi navi1'></span></li>
        <li id="home" (click)="open($event, 'home')"><span class='glyphicon glyphicon-home navi'></span></li>
        <li id="forward" (click)="open($event, 'forward')"><span class='glyphicon glyphicon-forward navi'></span></li>
        <li class="pic" (click)="open($event, 'ch')"><img class="glyphicon flags" width="30" src="../assets/ch.png" /></li>
        <li class="pic" (click)="open($event, 'au')"><img class="glyphicon flags" width="30" src="../assets/au.png" /></li>
      </ul>
    </div>
  </div>

