@media (max-width: 767px) {
  .nav2 {    
    top: 52px;    
  }
}
@media (min-width: 768px) {
  .nav2 {    
    top: 2px;    
  }
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li {
  float: left;
  /*background-color: #4189C7;*/
  color: #4189C7;
  /*border: 1px solid #333;*/
  /*border-radius: 50%;
  padding: 2px 10px 2px 10px;
  margin: 7px 5px 2px 15px;*/
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;  
}
#back {
  color: #4189C7;
}

#forward {
  color: #4189C7;
}

#home {
  color: #4189C7;
}
#back:hover {
  color: #333;    
}
#forward:hover {
  color: #333;
}
#home:hover {
  color: #333;
}
/*li.pic:hover {
  padding-top:5px;  
}*/
.flags:hover{
  padding-top:7px;
}
.flags{
  padding-left:7px;
}
/*.navi{
  padding-left:7px;
}
.navi1{
  padding-left:0;
}*/
